* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.pagination-list {
  list-style: none;
  column-gap: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}
.pagination-list_item {
  font-weight: normal;
  cursor: pointer;
}

.pagination-list_item-active {
  color: rgb(55, 20, 212);
  font-weight: 800;
}
.limited-area {
  width: 100vw;
  overflow-x: auto;
  white-space: nowrap;
}
.first-col-fixed {
  position: sticky;
  left: 0px;
}
.last-col-fixed {
  position: sticky;
  right: 0px;
}
